@font-face {
  font-family: "GmarketSansTTFBold";
  src: url("./assets/font/GmarketSansTTFBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "GmarketSansTTFLight";
  src: url("./assets/font/GmarketSansTTFLight.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "GmarketSansTTFMedium";
  src: url("./assets/font/GmarketSansTTFMedium.ttf");
  font-weight: 700;
}

body,
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "GmarketSansTTFMedium";
}

code {
  font-family: "GmarketSansTTFMedium";
}
